.roundImg__container{
  width:80%;
}
  .responsive__img{
   width:100%;
   height: auto;
   object-fit: cover; 
}
.responsiveImg__container{
  width:100%;
}

  .round__img{
    border-radius: 50%;
    object-fit: cover;
    height:10rem;
    width: 10rem;
    margin:0.5rem;
}
  