.heading,.content{
  align-self: flex-start;
  padding:0.625rem;
}

.side-bar{
    padding:20px 10px 0 0px;
    display:flex;
    flex-direction: column;
}
.name{
    margin:20px 0 20px 0px;
    padding:0 200px;

    
}
.pages-container{
    display:flex;
    padding:0 200px;


}
.content{
    padding-top:20px;
    font-family: 'Jost', sans-serif;
}
.component-heading{
    border-bottom: 1px solid #e3e3e3;
    font-weight: 600;
    font-size:large;
}
.component{
padding:15px;
cursor:pointer;
}
a{
    text-decoration: none;
    color:black;
}
.main-content{
    padding:25px 0 20px 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.content{
    padding:10px;
    font-size:18px;
}