:root{--primary-color:rgb(25,118,210);
    --secondary-color:rgb(24,47,83);
    --success-color:green;
    --error-color:red;
    --warning-color:orange;
    --dark-color:black;
    --idle-color:yellow;
    --disabled-color:rgb(175,175,175);
    --text-color:white;
    --info-color:rgb(30,146,244);
    --outlined-success-color:rgb(237,247,238);
    --outlined-warning-color:rgb(255,244,230);
    --outlined-info-color:rgb(229, 246, 253);
    --outlined-error-color:rgb(253,237,237);
    --box-shadow:rgba(0, 0, 0, 0.35);
    --card-icons-color:rgb(124,124,124);
    --button-color:rgb(104,3,177);
    --cards-background-color:rgb(250,250,250);
    --paragraph-text-color:rgb(90,90,90);
    --heading-color:rgb(134,134,134);
    --preferred-color:rgb(240,86,122);

  }