.btn--container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:auto;
  
  }
  .buttons{
    padding-top:0.625rem;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0.625rem;
    flex-wrap:wrap;
  }
  .btn{
  
    padding:0.625rem;
    border-radius:0.5rem;
    font-size:18px;
    cursor:pointer;
    border:none;
    color:var(--text-color);
  
 
  }
  .btn--primary, .btn--primaryHover{
    background-color:var(--primary-color);
  }
  .btn--secondary, .btn--secondaryHover{
    background-color:var(--secondary-color);
  }
  .btn--send, .btn--delete{
    background-color:var(--primary-color);
  }
  .btn--primaryHover:hover{
    opacity:0.9;
  }
  .btn--secondaryHover:hover{
    opacity:0.9;
  }
  .btn--success{
    background-color:var(--success-color);
  }
  .btn--error{
    background-color:var(--error-color);
  }
  .outlined{
    color:var(--secondary-color);
    border:1px solid var(--primary-color);
   
  }
  .btn--outlinedSuccess{
    color:var(--success-color);
    border:2px solid var(--success-color);
  }
  .btn--outlinedError{
    color:var(--error-color);
    border:2px solid var(--error-color);
  }
  .btn--disabled{
    color:var(--disabled-color);
    border:2px solid ;
    cursor:not-allowed;
  }
  .btn--floating{
      display:grid;
      place-content:center;
border-radius:50%;
    height:40px;
    width:40px;
    border:2px solid var(--primary-color);
      color:var(--secondary-color);
    font-size:25px;
    
  }
  .camera--btn, .edit--btn{
    border:none;
    color:var(--secondary-color);
  
  }
  .btn--link{
    background-color:var(--secondary-color);
    padding: 14px 25px;
    text-decoration:underline;
  }