<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="container">
        <div class="buttons">
          <button class="primary-btn btn">primary-btn</button>
          <button class="secondary-btn btn">secondary-btn</button>
       <button class="primary-btn-hover btn">primary-btn-hover</button>
          <button class="secondary-btn-hover btn">secondary-btn-hover</button>
        <button class="btn outlined">primary-btn</button>
          <button class="btn outlined">secondary-btn</button>
          <button class="success-btn btn">Success</button>
            <button class="error-btn btn">Error</button>
          <button class="outlined-success btn">success</button>
            <button class="outlined-error btn">Error</button>
          <button class="disabled btn">Disabled</button>
          <button class="send-btn btn">Send <i class="fas fa-paper-plane"></i></button>
           <button class="delete-btn btn">Delete <i class="fas fa-trash"></i></button>
           <a class="link-btn btn"href="www.google.com" target="_blank">This is a link</a>
      
          <button class="floating-btn btn">+</button>
           <button class="floating-btn btn">></button>
           <button class="floating-btn btn"><</button>
             <button class="floating-btn btn camera"><i class="fas fa-camera"></i>
               <button class="floating-btn btn edit"><i class="fas fa-pen"></i>
             </button>
        </div>
      </div>
                     
</body>
</html>