<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="landing-page-name name">ADORE-UI</div>
  <div class="pages-container">
    <div class="side-bar">
      <div class="component component-heading">Get Started</div>
      <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
      <div class="component"><a href="/components/text-utilities/text-utilities.html">Typography</a></div>

      <div class="component component-heading">Components</div>
      <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
      <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
      <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
      <div class="component"><a href="/components/button/button.html">Button</a></div>
      <div class="component"><a href="/components/cards/cards.html">Card</a></div>
      <div class="component"><a href="/components/images/images.html">Image</a></div>
      <div class="component"><a href="/components/input/input.html">Input</a></div>
      <div class="component"><a href="/components/list/list.html">List</a></div>
      <div class="component"><a href="/components/navigation/navigation.html">Navigation</a></div>
      <div class="component"><a href="/components/grid/grid.html">Grid</a></div>
      <div class="component"><a href="/components/rating/rating.html">Rating</a></div>




    </div>
    <div class="main-content">
      <h2 class="heading">Avatar</h2>
      <p class="content">Avatar component is used to represent a user, and displays the profile picture</p>
      <h2 class="heading">Simple Avatar</h2>
      <div class="avatar--container">
        <div class="avatars">
          <div class="avatar">
            <img class="avatar--sm"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="sm-avatar" />
          </div>
          <div class="avatar">
            <img class="avatar--md"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="md-avatar" />
          </div>
          <div class="avatar">
            <img class="avatar--lg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="lg-avatar" />
          </div>
          
          </div>
          <pre>
  <code class="html">
    &lt;img class="avatar--sm"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="sm-avatar" /&gt;
              &lt;img class="avatar--md"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="md-avatar" /&gt;
              &lt;img class="avatar--lg"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQudiOLbPTS306A9QT6grIO664VXvpMAUcKUw&usqp=CAU"
              alt="lg-avatar" /&gt;

  </code>
</pre>



<!-- avatar with badge -->
<h2 class="heading">Avatar-Badge</h2>
        <div class="badge__onAvatar--container">
          <div class="badge__onAvatar">
            
            <img class="badge__onAvatar__img"
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="img-avatar-badge" />
            <span class="status status-online"></span>

          </div>
          <div class="badge__onAvatar">
            <img class="badge__onAvatar__img"
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="img-avatar-badge" />
            <span class="status status-dd"></span>

          </div>
          <div class="badge__onAvatar">
            <img class="badge__onAvatar__img"
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="img-avatar-badge" />
            <span class="status status-idle"></span>

          </div>
        </div>
          <pre>
            <code class="html">
              &lt;img class="badge__onAvatar__img"
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="img-avatar-badge" /&gt;
            &lt;span class="status status-online"&gt;&lt;/span&gt;
              &lt;img class="badge__onAvatar__img"
                src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                alt="img-avatar-badge" /&gt;
              &lt;span class="status status-dd"&gt;&lt;/span&gt;
              &lt;img class="badge__onAvatar__img"
              src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
              alt="img-avatar-badge" /&gt;
            &lt;span class="status status-idle"&gt;&lt;/span&gt;

            </code>
          </pre>
        
        


        
      </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
      <script>
        hljs.highlightAll();
      </script>
</body>

</html>