<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="card-container">
        <div class="card">
            <div class="simple-card-img">
            <img class="image"src="https://wallpaperaccess.com/full/2076350.jpg"alt="image"/>
            </div>
            <div class="simple-card-content padd">
                <h2>Mr.Bean says Hi 👋</h2>
                <h4>An Animated Series</h4>
            </div>
            <p class="simple-card-description padd"> Love for Mr.Bean never ends! All time favorite ❤️</p>
            <div class="simple-card-footer footer padd">
                <button class="button">Read</button>
                <button class="button">Bookmark</button>
                <i class="fa fa-heart" aria-hidden="true"></i>
          <i class="fa fa-share-alt" aria-hidden="true"></i>
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>
<!-- card 2 -->
<div class="card">
    <div class="icons-card-img">
    <img class="image" src="https://wallpaperaccess.com/full/2076350.jpg" alt="image"/>
    </div>
    <div class="icons-card-content padd">
        <h2>Mr.Bean says Hi 👋</h2>
        <h4>An Animated Series</h4>
    </div>
    <p class="icons-card-description padd"> Love for Mr.Bean never ends! All time favorite ❤️</p>
    <div class="icons-card-footer footer padd">
        <button class="button">Read</button>
        <button class="button">Bookmark</button>
        <i class="fa fa-heart" aria-hidden="true"></i>
  <i class="fa fa-share-alt" aria-hidden="true"></i>
  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
</div>

    
<!-- card 3 -->
<div class="card">
    <div class="buttons-card-img">
    <img class="image"src="https://wallpaperaccess.com/full/2076350.jpg"alt="image"/>
    </div>
    <div class="buttons-card-content padd">
        <h2>Mr.Bean says Hi 👋</h2>
        <h4>An Animated Series</h4>
    </div>
    <p class="buttons-card-description padd"> Love for Mr.Bean never ends! All time favorite ❤️</p>
    <div class="buttons-card-footer padd footer">
        <button class="button">Read</button>
        <button class="button">Bookmark</button>
        <i class="fa fa-heart" aria-hidden="true"></i>
  <i class="fa fa-share-alt" aria-hidden="true"></i>
  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
</div>
<!-- card 4 -->
<div class="card">
    <div class="heading-top-card">
        <div class="heading-top-card-img">
        <img class="image"src="https://wallpaperaccess.com/full/2076350.jpg"alt="image"/>
        </div>
        <div class="heading-top-card-content padd">
            <h2>Mr.Bean says Hi 👋</h2>
            <h4>An Animated Series</h4>
        </div>
        <p class="heading-top-card-description padd"> Love for Mr.Bean never ends! All time favorite ❤️</p>
        <div class="heading-top-card-footer footer padd">
            <button class="button">Read</button>
            <button class="button">Bookmark</button>
            <i class="fa fa-heart" aria-hidden="true"></i>
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
    </div>
</div>
<!-- //card 5 -->
<div class="card text-overlay-card">
    <div class="text-overlay-card-img">
        <img class="image"src="https://wallpaperaccess.com/full/2076350.jpg" alt="image" />
    </div>

    <div class="text-overlay-card-content padd">
      <h2>Mr.Bean says Hi 👋</h2>
      <h4>An Animated series </h4>
    </div>

    <p class="text-overlay-card-description padd">
      Love for Mr.Bean never ends! All time favorite ❤️</p>
    </p>

    <div class="text-overlay-card-footer padd footer">
      <button class="button">Read</button>
      <button class="button">Bookmark</button>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>

<!-- card 6 -->
<div class="card horizontal-card">
    <div class="horizontal-card-img">
        <img class="image"src="https://wallpaperaccess.com/full/2076350.jpg" alt="image" />
    </div>

    <div class="horizontal-card-content padd">
      <h2>Mr.Bean says Hi 👋</h2>
      <h4>An Animated series </h4>
    </div>

    <p class="horizontal-card-description padd">
      Love for Mr.Bean never ends! All time favorite ❤️</p>
    </p>

    <div class="horizontal-card-footer padd footer">
      <button class="button">Read</button>
      <button class="button">Bookmark</button>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <i class="fa fa-share-alt" aria-hidden="true"></i>
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
    </div>
  </div>

<!-- box-shadow card -->
  <div class="card card-boxshadow padd">
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 
      the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
       and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>


<!-- dismiss -->
<div class="card card-dismiss padd">
  <h2>This is the Heading</h2>
  <i class="far fa-times-circle"></i>
  <h3>-This is sub-heading</h3>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
    , and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
</div>

</div>



        </div>
    
    
</body>
</html>