<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <!-- unordered list -->
    <div class="list-container">
        <ul class="ul">
            <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
        </ul>
        <!-- square unordered  -->
    <ul class="ul ul-square">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ul>
    <!-- non-bullet unordered  -->
    <ul class="ul ul-non-bullet">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ul>
    <!-- ordered list -->
    <ol class="list ol">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ol>
    <!-- stacked list -->
    <ol class="stacked ol">
        <li>Item one</li>
        <ul>
        <li>Item one 1</li>
        <li>Item one 2</li>
        </ul>
        <li>Item two</li>
        <ul>
            <li>Item two 1</li>
            <li>Item two 2</li>
            <li>Item two 3</li>
        </ul>
        <li>Item three</li>
    </ol>
    </div>
</body>
</html>