<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="landing-page-name name">ADORE-UI</div>
  <div class="pages-container">
    <div class="side-bar">
      <div class="component component-heading">Get Started</div>
      <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
      <div class="component component-heading">Components</div>
      <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
      <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
      <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
      <div class="component"><a href="/components/button/button.html">Button</a></div>
      <div class="component"><a href="/components/cards/cards.html">Card</a></div>
      <div class="component"><a href="/components/images/images.html">Image</a></div>
      <div class="component"><a href="/components/input/input.html">Input</a></div>
      <div class="component"><a href="/components/list/list.html">List</a></div>


    </div>
    <div class="main-content">
        <h3 class="heading">List</h3>
        <p class="content">List are used in various purposes</p>
        <h3 class="heading">Simple List</h3>

    <!-- unordered list -->
    <div class="list__container">
        <ul class="list__ul">
            <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
        </ul>
        <!-- square unordered  -->
    <ul class="list__ul ul__square">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
    </ul>
    <!-- non-bullet unordered  -->
    <ul class="list__ul ul__nonBullet">
        <li class="list-component">Item one</li>
        <li class="list-component">Item two</li>
        <li class="list-component">Item three</li>
    </ul>
    <!-- ordered list -->
    <ol class="list list__ol">
        <li class="list-component">Item one</li>
        <li class="list-component">Item two</li>
        <li class="list-component">Item three</li>
    </ol>
    <!-- stacked list -->
    <ol class="stacked list__ol">
        <li class="list-component">Item one</li>
        <ul>
        <li class="list-component">Item one 1</li>
        <li class="list-component">Item one 2</li>
        </ul>
        <li class="list-component">Item two</li>
        <ul>
            <li class="list-component">Item two 1</li>
            <li class="list-component">Item two 2</li>
            <li class="list-component">Item two 3</li>
        </ul>
        <li class="list-component">Item three</li>
    </ol>
    </div>
</body>
</html>