<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="landing-page-name name">ADORE-UI</div>
  <div class="pages-container">
    <div class="side-bar">
      <div class="component component-heading">Get Started</div>
      <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
      <div class="component"><a href="/components/text-utilities/text-utilities.html">Typography</a></div>

      <div class="component component-heading">Components</div>
      <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
      <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
      <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
      <div class="component"><a href="/components/button/button.html">Button</a></div>
      <div class="component"><a href="/components/cards/cards.html">Card</a></div>
      <div class="component"><a href="/components/images/images.html">Image</a></div>
      <div class="component"><a href="/components/input/input.html">Input</a></div>
      <div class="component"><a href="/components/list/list.html">List</a></div>
     <div class="component"><a href="/components/navigation/navigation.html">Navigation</a></div>
     <div class="component"><a href="/components/grid/grid.html">Grid</a></div>




    </div>
    <div class="main-content">
        <h2 class="heading">List</h2>
        <p class="content">Lists are continuous, vertical indexes of text or images.</p>

    <!-- unordered list -->
    <div class="list__container">
        
        <h2 class="heading">Unordered List</h2>

        <ul class="list__ul">
            <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
        </ul>
<pre>
    <code class="html">
 &lt;ul class="list__ul"&gt;
    &lt;li&gt;Item one&lt;/li&gt;
    &lt;li&gt;Item two&lt;/li&gt;
    &lt;li&gt;Item three&lt;/li&gt;
    &lt;/ul&gt;
    </code>
</pre>
<h2 class="heading">Ordered List</h2>

        <!-- ordered list -->
      <ol class="list list__ol">
        <li class="list-component">Item one</li>
        <li class="list-component">Item two</li>
        <li class="list-component">Item three</li>
       </ol>
    <pre>
        <code class="html">
     &lt;ol class="list list__ol"&gt;
     &lt;li class="list-component"&gt;Item one&lt;/li&gt;
     &lt;li class="list-component"&gt;Item two&lt;/li&gt;
     &lt;li class="list-component"&gt;Item three&lt;/li&gt;
     &lt;/ol&gt;
        </code>
    </pre>

    <h2 class="heading">Square List</h2>
        <!-- square unordered  -->
     <ul class="list__ul ul__square">
        <li>Item one</li>
        <li>Item two</li>
        <li>Item three</li>
     </ul>
    <pre>
        <code class="html">
  &lt;ul class="list__ul ul__square"&gt;
     &lt;li&gt;Item one&lt;/li&gt;
     &lt;li&gt;Item two&lt;/li&gt;
     &lt;li&gt;Item three&lt;/li&gt;
  &lt;/ul&gt;
        </code>
    </pre>
    <h2 class="heading">Stacked List</h2>
    <!-- non-bullet unordered  -->
    <ul class="list__ul ul__nonBullet">
        <li class="list-component">Item one</li>
        <li class="list-component">Item two</li>
        <li class="list-component">Item three</li>
    </ul>
<pre>
    <code class="html">
    &lt;ul class="list__ul ul__nonBullet"&gt;
        &lt;li class="list-component"&gt;Item one&lt;/li&gt;
        &lt;li class="list-component"&gt;Item two&lt;/li&gt;
        &lt;li class="list-component"&gt;Item three&lt;/li&gt;
     &lt;/ul&gt;

    </code>
</pre>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</body>
</html>