.navbar{
  background-color:var(--primary-color);
  display:flex;
  padding:0.7rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  width:100%;
  
  
}
.nav-title{
  padding-left:10px;
  font-weight: 700;
  color:var(--text-color);
}
.nav-pills{
  display:flex;
  flex-wrap:wrap;
  color:var(--text-color);
  gap:20px;
}
