<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/index.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
        integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
        crossorigin="anonymous" />
</head>

<body>
    <div class="landing-page-name name">ADORE-UI</div>
    <div class="pages-container">
        <div class="side-bar">
            <div class="component component-heading">Get Started</div>
            <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
            <div class="component"><a href="/components/text-utilities/text-utilities.html">Typography</a></div>

            <div class="component component-heading">Components</div>
            <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
            <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
            <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
            <div class="component"><a href="/components/button/button.html">Button</a></div>
            <div class="component"><a href="/components/cards/cards.html">Card</a></div>
            <div class="component"><a href="/components/images/images.html">Image</a></div>
            <div class="component"><a href="/components/input/input.html">Input</a></div>
            <div class="component"><a href="/components/list/list.html">List</a></div>
            <div class="component"><a href="/components/navigation/navigation.html">Navigation</a></div>
            <div class="component"><a href="/components/grid/grid.html">Grid</a></div>
            <div class="component"><a href="/components/rating/rating.html">Rating</a></div>
            <div class="component"><a href="/components/modal/modal.html">Modal</a></div>

        </div>
        <div class="main-content">
            <h2 class="heading">Rating</h2>
            <p class="content">Rating is used in giving rating for products</p>
            <h2 class="heading">Simple Rating</h2>

            <div class="rating-box">
                <i class="fas fa-star rating-item"></i>
                <i class="fas fa-star rating-item"></i>
                <i class="fas fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
            </div>

            <pre>
         <code class="html">
             &lt;div class="rating-box"&gt;
    &lt;i class="fas fa-star rating-item"&gt;&lt;/i&gt;
    &lt;i class="fas fa-star rating-item"&gt;&lt;/i&gt;
    &lt;i class="fas fa-star rating-item"&gt;&lt;/i&gt;
    &lt;i class="fas fa-star rating-item"&gt;&lt;/i&gt;
    &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
    &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
      &lt;/div&gt;       
    </code>
              </pre>
            <h2 class="heading">Outlined Rating</h2>
            <div class="rating-box">
                <i class="far fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
                <i class="far fa-star rating-item"></i>
            </div>

            <pre>
        <code class="html">
      &lt;div class="rating-box"&gt;
  &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
  &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
  &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
  &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
  &lt;i class="far fa-star rating-item"&gt;&lt;/i&gt;
  &lt;/div&gt;
                  </code>
              </pre>
        </div>
            <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
            <script>
                hljs.highlightAll();
            </script>