<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="badge-container">
        <div class="badge">
          <div class="badge_one badge_icon">
            <i class="fas fa-shopping-cart fa-2x"></i>
            <span class="round">88</span>
          </div>
      
          <div class="badge_two badge_icon">
            <i class="fab fa-snapchat fa-2x"></i>
            <span class="round round-dot"></span>
          </div>
      
          <div class="badge_three badge_icon">
            <i class="fab fa-twitter fa-2x"></i>
            <span class="round">55</span>
          </div>
      
          <div class="badge_four badge_icon">
            <i class="far fa-bell fa-2x"></i>
            <span class="round">+9</span>
          </div>
          <div class="badge_five badge_icon">
            <i class="far fa-envelope fa-2x"></i>
            <span class="round">9</span>
          </div>
        </div>
      </div>
</body>
</html>