.badge-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .badge{
      display:flex;
      gap:2rem;
}
.badge_icon{
    position:relative;
    height:50px;
    width:50px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.round{
    color:var(--text-color);
    height:auto;
    font-size:15px;
    min-width:0.875rem;
    padding:5px;
    border-radius:1.25rem;
    background-color:var(--error-color);
    position:absolute;
    display:flex;
    align-items:center;
    justify-content:center;
    right:-0.8125rem;
    top: -0.625rem;
    border: 2px solid var(--text-color);
}
.round-dot{
    min-width: 0.875rem;
    height:0.875rem;
    right:5px;
    top:5px;
}
