<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="landing-page-name name">ADORE-UI</div>
  <div class="pages-container">
    <div class="side-bar">
      <div class="component component-heading">Get Started</div>
      <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
      <div class="component"><a href="/components/text-utilities/text-utilities.html">Typography</a></div>

      <div class="component component-heading">Components</div>
      <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
      <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
      <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
      <div class="component"><a href="/components/button/button.html">Button</a></div>
      <div class="component"><a href="/components/cards/cards.html">Card</a></div>
      <div class="component"><a href="/components/images/images.html">Image</a></div>
      <div class="component"><a href="/components/input/input.html">Input</a></div>
      <div class="component"><a href="/components/list/list.html">List</a></div>
      <div class="component"><a href="/components/navigation/navigation.html">Navigation</a></div>
      <div class="component"><a href="/components/grid/grid.html">Grid</a></div>
      <div class="component"><a href="/components/rating/rating.html">Rating</a></div>
      <div class="component"><a href="/components/modal/modal.html">Modal</a></div>
      <div class="component"><a href="/components/modal/modal.html">Modal</a></div>
</div>
    <div class="main-content">
      <h2 class="heading">Modal</h2>
      <p class="content">A dialog is a window overlaid on either the primary window or another dialog window.
           Content behind a modal dialog is inert, meaning that users cannot interact with it.</p>
           
              <div class="modal-container">
                  <div class="modal-header">Alert!! <div class="modal-head-icon"><i class="far fa-times"></i></div>
                      </div>
                  <div class="modal-body">Something went wrong. Transaction cancelled.</div>
                  <div class="modal-footer">
                      <button class="modal-footer-button btn--secondary">Try again</button>
                      <button class="modal-footer-button btn--error">Decline</button>
                  </div>
              </div>
        
                <pre>
                <code class="html">
    &lt;div class="modal-container"&gt;
        &lt;div class="modal-header"&gt;
            Alert!! &lt;div class="modal-head-icon"&gt;&lt;i class="far fa-times"&gt;&lt;/i&gt;&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="modal-body"&gt;Something went wrong. Transaction cancelled.&lt;/div&gt;
        &lt;div class="modal-footer"&gt;
            &lt;button class="modal-footer-button btn warning-color"&gt;TRY AGAIN&lt;/button&gt;
            &lt;button class="modal-footer-buttonbtn btn danger-color"&gt;DECLINE&lt;/button&gt;
        &lt;/div&gt;         
                </code>
            </pre>
        


        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</body>

</html>