<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/atom-one-dark.min.css"
    integrity="sha512-Fcqyubi5qOvl+yCwSJ+r7lli+CO1eHXMaugsZrnxuU4DVpLYWXTVoHy55+mCb4VZpMgy7PBhV7IiymC0yu9tkQ=="
    crossorigin="anonymous" />
</head>

<body>
  <div class="landing-page-name name">ADORE-UI</div>
  <div class="pages-container">
    <div class="side-bar">
      <div class="component component-heading">Get Started</div>
      <div class="component"><a href="/docs/getting-started/introduction.html">Installation</a></div>
      <div class="component active"><a href="/components/text-utilities/text-utilities.html">Typography</a></div>

      <div class="component component-heading">Components</div>
      <div class="component"> <a href="/components/alert/alert.html">Alert</a></div>
      <div class="component"><a href="/components/avatar/avatar.html">Avatar</a></div>
      <div class="component"><a href="/components/badge/badge.html">Badge</a></div>
      <div class="component"><a href="/components/button/button.html">Button</a></div>
      <div class="component"><a href="/components/cards/cards.html">Card</a></div>
      <div class="component"><a href="/components/grid/grid.html">Grid</a></div>
     <div class="component"><a href="/components/images/images.html">Image</a></div>
      <div class="component"><a href="/components/input/input.html">Input</a></div>
      <div class="component"><a href="/components/list/list.html">List</a></div>
      <div class="component"><a href="/components/modal/modal.html">Modal</a></div>
     <div class="component"><a href="/components/navigation/navigation.html">Navigation</a></div>
    <div class="component"><a href="/components/rating/rating.html">Rating</a></div>
    <div class="component"><a href="/components/toast/toast.html">Toast</a></div>
</div>
    <div class="main-content">
      <h2 class="heading">Typography</h2>
      <p class="content">Typography, can be used to maintain consistency in your code.</p>

    <div class="text-utilities-container">
        <h1 class="h1-typo padd">This Text is H1</h1>
        <h2 class="h2-typo padd">This Text is H2</h2>
        <h3 class="h3-typo padd">This Text is H3</h2>
        <h4 class="h4-typo padd">This Text is H4</h2>
        <h5 class="h5-typo padd">This Text is H5</h2>
        <h6 class="h6-typo padd">This Text is H6</h2>
            <p class="sm-text padd">This is Small text</p>
            <p class="grey-text padd">This is grey Text</p>
            <p class="center-text padd">This is center Text</p>

    </div>
    <pre>
        <code class="html">
       &lt;h1 class="h1-typo padd"&gt;This Text is H1&lt;/h1&gt;
        &lt;h2 class="h2-typo padd"&gt;This Text is H2&lt;/h2&gt;
        &lt;h3 class="h3-typo padd"&gt;This Text is H3&lt;/h3&gt;
        &lt;h4 class="h4-typo padd"&gt;This Text is H4&lt;/h4&gt;
        &lt;h5 class="h5-typo padd"&gt;This Text is H5&lt;/h5&gt;
        &lt;h6 class="h6-typo padd"&gt;This Text is H6&lt;/h6&gt;
    &lt;p class="sm-text padd"&gt;This is Small text&lt;/p&gt;
    &lt;p class="grey-text padd"&gt;This is grey Text&lt;p&gt;
    &lt;p class="center-text padd"&gt;This is center Text&lt;/p&gt;

</code>
    </pre>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"></script>
  <script>
    hljs.highlightAll();
  </script>
</body>
</html>