/* .alert__container {
  display: grid;
  place-content: center;
  height: auto;
  font-size: 18px;
} */
.alert__container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-content{
  padding:25px 0 20px 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading,.content{
  align-self: flex-start;
}

.alert {
  display: flex;
  width:25rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  padding-right: 0.625rem;
  color: var(--text-color);
}

.alert--success {
  background-color: var(--success-color);

}
.alert--warning {
  background-color: var(--warning-color);
}
.alert--info {
  background-color: var(--info-color);
}
.alert--error {
  background-color: var(--error-color);
}
.alert--outlined {
  border: none;
}
.alert--icon{
  color:inherit;
}
.alert--successOutlined {
  color: var(--success-color);
  background-color: var(--outlined-success-color);
}
.alert--warningOutlined {
  color: var(--warning-color);
  background-color: var(--outlined-warning-color);
}
.alert--infoOutlined {
  background-color: var(--outlined-info-color);
  color: var(--info-color);
}
.alert--errorOutlined {
  color: var(--error-color);
  background-color: var(--outlined-error-color);
}
.hljs{
  margin-top:2rem;
  border-radius:0.5rem;
  max-width: 60vw;
}