.alert-container{
    display:grid;
    place-content:center;
    height:auto;
    font-size:18px; 
  }
  .alert{
    display:flex;
    width:400px;
    justify-content:center;
    align-items:center;
  margin-top:2rem;
    padding:0.5rem;
    border-radius:0.5rem;
    color:var(--text-color);
  }
  .icon{
    padding-right:0.625rem;
  }
  .success-alert{
    background-color:var(--success-color);
  
  }
  .warning-alert{
    background-color:var(--warning-color);
  }
  .info-alert{
    background-color:var(--info-color);
  }
  .error-alert{
    background-color:var(--error-color);
  }
  .outlined{
      border:none;
  }
  .outlined-success-alert{
    color:var(--success-color);
  background-color:var(--outlined-success-color);
  }
  .outlined-warning-alert{
    color:var(--warning-color);
    background-color:var(--outlined-warning-color);
  }
  .outlined-info-alert{
   background-color:var(--outlined-info-color);
    color:var(--info-color);
    
  }
  .outlined-error-alert{
    color:var(--error-color);
    background-color:var(--outlined-error-color);
  }