<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <div class="alert-container">
        <div class="alerts">
          <div class="alert success-alert"><i class="far fa-check-circle icon"></i>   This   is    a success alert!</div>
          <div class="alert warning-alert"><i class="fas fa-exclamation-triangle icon"></i></i>This a warning alert!</div>
          <div class="alert info-alert"><i class="fas fa-info-circle icon"></i>This is a info alert!</div>
          <div class="alert error-alert"><i class="far fa-times-circle icon"></i> This is a error alert! </div>
        
        <div class="alert outlined-success-alert outlined"><i class="far fa-check-circle icon"></i>   This   is    a success alert!</div>
          <div class="alert outlined-warning-alert outlined"><i class="fas fa-exclamation-triangle icon"></i></i>This a warning alert!</div>
          <div class="alert outlined-info-alert outlined"><i class="fas fa-info-circle icon"></i>This is a info alert!</div>
          <div class="alert outlined-error-alert outlined"><i class="far fa-times icon"></i> This is a error alert! </div>
        </div>
      </div>
</body>
</html>